<div class="jumbotron">
    <h1>Welcome to our PairBnB</h1>
    <p>A NEXT Academy Project</p>
    
    <%= link_to "Property", "#", class: "btn btn-primary" %>
    <%= link_to "Sign Up", sign_up_path, class: "btn btn-primary" %>
</div>